.popup__save-avatar {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background-color: black;
  border-radius: 2px;
  text-align: center;
  height: 50px;
  border: none;
  width: 100%;
}

.popup__save-avatar:disabled {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.popup__save-avatar:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 320px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
