.profile {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 40px auto 0;
  width: calc(100% - 400px);
  max-width: 880px;
}

@media (max-width: 1060px) {
  .profile {
    width: 100%;
    max-width: 1024px;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .profile {
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .profile {
    text-align: start;
    max-width: 282px;
  }
}
