.popup__info-space {
  margin: 0;
  background-color: white;
  max-width: 430px;
  width: 100%;
  position: relative;
  border-radius: 10px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .popup__info-space {
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .popup__info-space {
    max-width: 282px;
  }
}
