.popup__value {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__value-place:last-of-type {
  padding-bottom: 0;
}
