.profile__avatar-ellipse {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile__avatar-ellipse:hover {
  cursor: pointer;
  opacity: 0.2;
}
