.header {
  margin: 45px auto 0;
  width: calc(100% - 400px);
  max-width: 880px;
  border-bottom: 1px solid rgba(32.94%, 32.94%, 32.94%, 0.7);
  box-sizing: border-box;
  padding-bottom: 41px;
}

@media (max-width: 768px) {
  .header {
    width: calc(100% - 70px);
    max-width: 768px;
  }
}

@media (max-width: 320px) {
  .header {
    margin: 28px auto 0;
    width: 100%;
    max-width: 320px;
    padding-bottom: 31.6px;
  }
}
